.streamlit/secrets.toml
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
.env
.venv/
env/
venv/
.idea/
.ipynb_checkpoints/
.tox/
.coverage
.mypy_cache/
.pyre/
.pytype/
.idea/
.ipynb_checkpoints/
.tox/
.coverage
.mypy_cache/
.pyre/
.pytype/
